<div class="min-h-dvh pt-15 lg:py-20 xl:pl-30 text-black flex items-center justify-center
     [&>div]:pt-safe-offset-10 xl:[&>div]:pb-safe [&>div]:pb-safe-offset-30"
>
  <div class="mes-parcours h-full w-full"
       [class.hidden]="activeTab() !== 'parcours'"
  >
    <div id="startedTrainings"
         [hidden]="showTrainingPaths()"
    >
      <user-training-paths [trainings]="user()?.trainings ?? []"/>
    </div>

    <div class="flex justify-center p-8">
      <p-button [hidden]="showTrainingPaths()" (click)="toggleShowTrainingPaths()"
        styleClass="!text-sm md:!text-base !text-black hover:!text-white active:!text-white !border-2 !border-black
        hover:!bg-black active:!bg-black !transition-colors !duration-500"
        [icon]="'pi pi-plus'" [label]="'Nouveau parcours'"
        [rounded]="false" [outlined]="true"
      />

      <p-button [hidden]="!showTrainingPaths()" (click)="toggleShowTrainingPaths()"
                styleClass="!text-sm md:!text-base !text-red-500 hover:!text-white active:!text-white !border-2 !border-red-500
                hover:!bg-red-500 active:!bg-red-500 !transition-colors !duration-500"
                [icon]="'pi pi-arrow-left'" [label]="'Retour'"
                [rounded]="false" [outlined]="true"
      />
    </div>

    <div class="z-0" [hidden]="!showTrainingPaths()">
      <trainings-launcher/>
    </div>

  </div>

  <div class="mes-adoptions text-base h-full w-full"
        [class.hidden]="activeTab() !== 'adoptions'"
  >
    <div id="startedTrainings" class="flex flex-col items-center justify-center gap-4"
    >
      <i class="pi pi-exclamation-circle text-3xl! md:text-5xl!"></i>
      <p>Aucun animal adopté pour le moment</p>
    </div>
  </div>

  <div class="mon-profil w-full sm:w-120 text-base flex flex-col px-safe-or-4 xl:py-safe-or-8 xl:px-safe"
       [class.hidden]="activeTab() !== 'profil'"
  >
    <app-user-profile [user]="user()"/>
  </div>
</div>

<footer class="bg-gray-800 flex fixed items-center justify-between text-sm py-4 px-safe-or-4 border-gray-300
     w-full bottom-0 z-10 sm:justify-center sm:gap-12 transition-all duration-500
     xl:h-full xl:w-30 xl:hover:w-50 xl:flex-col xl:justify-center xl:p-0 text-white
     group xl:[&_p]:opacity-0 xl:[&_p]:group-hover:opacity-100 xl:[&_p]:transition-opacity xl:[&_p]:duration-500
     [&_div]:cursor-pointer [&_div]:hover:text-amber-500 [&_div]:transition-colors [&_div]:duration-500
     "
>
  <div [class.text-amber-500]="activeTab() === 'parcours'"
       class="flex flex-col items-center gap-2"
       (click)="setTab('parcours')"
  >
    <i class="pi pi-book" style="font-size: 24px"></i>
    <p>Mes parcours</p>
  </div>

  <div  [class.text-amber-500]="activeTab() === 'adoptions'"
        class="flex flex-col items-center gap-2"
        (click)="setTab('adoptions')">
    <i class="pi pi-verified" style="font-size: 24px"></i>
    <p>Mes adoptions</p>
  </div>

  <div [class.text-amber-500]="activeTab() === 'profil'"
       class="flex flex-col items-center gap-2"
       (click)="setTab('profil')">
    <i class="pi pi-user" style="font-size: 24px"></i>
    <p>Mon profil</p>
  </div>

</footer>
