<div class="bg-gray-50 min-h-dvh py-24 text-black flex items-center justify-center lg:pl-20">
  <div class="mes-parcours text-base h-full w-full"
       [class.hidden]="activeTab() !== 'parcours'"
  >
    <div id="startedTrainings" class="flex justify-center"
         [hidden]="showTrainingPaths()"
    >
      <p> Aucun parcours commencé pour le moment </p>
    </div>

    <div class="flex justify-center p-8">
      <p-button [hidden]="showTrainingPaths()" (click)="toggleShowTrainingPaths()"
        styleClass="!text-black hover:!text-white active:!text-white !border-2 !border-black
        hover:!bg-black active:!bg-black !transition-colors !duration-500"
        [icon]="'pi pi-plus'" [label]="'Nouveau parcours'"
        [rounded]="false" [outlined]="true"
      />

      <p-button [hidden]="!showTrainingPaths()" (click)="toggleShowTrainingPaths()"
                styleClass="!text-red-500 hover:!text-white active:!text-white !border-2 !border-red-500
                hover:!bg-red-500 active:!bg-red-500 !transition-colors !duration-500"
                [icon]="'pi pi-times'" [label]="'Annuler'"
                [rounded]="false" [outlined]="true"
      />
    </div>

    <div [hidden]="!showTrainingPaths()">
      <app-training-paths/>
    </div>



  </div>

  <div class="mes-adoptions text-base"
        [class.hidden]="activeTab() !== 'adoptions'"
  >
    Aucun animal adopté pour le moment
  </div>

  <div class="mon-profil w-full sm:w-120 text-base flex flex-col px-safe-or-4"
        [class.hidden]="activeTab() !== 'profil'"
  >
    <app-user-profile [user]="user()"/>
  </div>
</div>

<div class="bg-amber-50 text-black text-sm h-15 w-full fixed bottom-0
              xl:h-full xl:w-50 xl:top-20 xl:flex-col xl:justify-center
              flex items-center justify-between sm:justify-center sm:gap-12 px-safe-or-4 border-t border-gray-300"
>
  <p class=""
     [class.text-amber-500]="activeTab() === 'parcours'"
     (click)="activeTab.set('parcours')"
  >Mes parcours</p>
  <p class=""
     [class.text-amber-500]="activeTab() === 'adoptions'"
     (click)="activeTab.set('adoptions')"
  >Mes adoptions</p>
  <p class=""
     [class.text-amber-500]="activeTab() === 'profil'"
     (click)="activeTab.set('profil')"
  >Mon profil</p>
</div>
