<div class="split-card-container flex gap-8 w-full flex-wrap justify-center"
>
  @for (opt of options; track opt) {
    <app-split-card
      (click)="navigateToOption(opt.pathURL)"
      [backgroundImage]="opt.backgroundImage"
      class="text-black" [icon]="opt.icon"
    >
      <div class="flex flex-col h-full pt-4 gap-4">
        <p class="text-lg md:text-xl text-green-900 font-bold">{{ opt.title }}</p>
        <p class="text-sm px-10 md:px-6 md:text-base">{{ opt.description }}</p>
      </div>
    </app-split-card>
  }
</div>
