<header
  class="home-header relative flex flex-col justify-evenly items-center h-screen
  pt-40 [@media(max-height:500px)]:pt-10 text-white" #homeHeader>
  <div class="bg-h-h absolute z-0 inset-0 pointer-events-none">
    <img class="w-full h-full object-cover" [src]="headerBackground">
    <div class="absolute inset-0 bg-black/50"
    ></div>
  </div>
  <div class="auto-change-message-container relative z-10 flex items-center
  h-24 w-full px-6"
  >
    <p class="text-5xl font-bold
    [@media(max-width:768px)]:text-3xl
    [@media(max-width:1135px)]:text-4xl
    [@media(max-width:440px)]:whitespace-pre-line"
       [hidden]="!animateFlag()" [class.enter-animation]="animateFlag()">
      {{ messages()[messageIndex()] }}
    </p>
  </div>

  <div class="benefits-container relative z-10 flex flex-col justify-between
  w-full px-6 gap-4 [@media(max-width:440px)]:whitespace-pre-line
  [@media(max-width:350px)]:text-base
  [@media(min-width:351px)]:text-lg"
  >
    @for(b of benefits; track b) {
      <p class="flex gap-3 items-center">
        <i class="pi pi-check-circle"></i>
        <label> {{ b }}</label>
      </p>
    }
  </div>

  <div class="relative z-10 flex items-center
  w-full px-6 gap-4
  [@media(max-width:490px)]:flex-col
  sm:gap-8"
  >
    <p-button
      styleClass ="!text-white !bg-amber-700/70 hover:!bg-amber-700 active:!bg-amber-700
      !border-2 !border-white/50 !transition-colors !duration-500"
      [label]="'Commencer mon parcours'"
      [rounded]="false" [raised]="true" [severity]="'warn'"
      [routerLink]="[]" [fragment]="'trainingPaths'"
    />
    <p-button
      styleClass ="!text-white !bg-transparent hover:!bg-gray-500/50 active:!bg-gray-500/50 !border-2
      !transition-colors !duration-500"
      [label]="'Explorer nos partenaires'"
      [rounded]="false" [outlined]="true" [severity]="'contrast'"
      [routerLink]="[]" [fragment]="'partners'"
    />
  </div>

  <div class="relative z-10 flex justify-center animate-bounce w-full
  [@media(max-height:450px)]:hidden"
  >
    <i class="pi pi-chevron-circle-down"
       style="font-size: 2rem"
    ></i>
  </div>
</header>

<section
  class="flex justify-center bg-amber-50
  h-full w-full p-12 gap-12"
>
  <div
    class="flex flex-col items-center gap-8 max-w-5xl
    [@media(max-width:783px)]:max-w-80 [@media(max-width:1135px)]:max-w-2xl"
  >
    <div id="trainingPaths"
      class="stats-container w-full"
    >
      <app-base-card [backgroundImage]="statsCardBackground"
      >
        <div
          class="flex flex-row justify-between items-center gap-8
          [@media(max-width:783px)]:flex-col"
        >
          @for(s of stats; track s) {
            <div class="flex flex-col items-center
            gap-2"
            >
              <img [src]="s.icon" class="h-12 w-12
              [@media(max-width:783px)]:h-10
              [@media(max-width:783px)]:w-10"
              >
              <p class="font-bold text-3xl
              [@media(max-width:783px)]:text-2xl"
              >{{ s.figure }}</p>
              <p class="text-yellow-50 text-lg
              [@media(max-width:1135px)]:text-sm"
              >{{ s.details }}</p>
            </div>
          }
        </div>
      </app-base-card>
    </div>

    <div class="how-it-works flex flex-col h-full w-full items-center gap-8"
    >
      <div
        class="text-green-900 font-bold
        text-4xl [@media(max-width:783px)]:text-2xl [@media(max-width:1135px)]:text-3xl"
      >Comment ça marche ?
      </div>
      <div class="split-card-container flex gap-8 w-full flex-wrap justify-center"
      >
        @for (opt of options; track opt) {
          <app-split-card
            (click)="navigateToOption(opt.pathURL)"
            [backgroundImage]="opt.backgroundImage"
            class="text-black" [icon]="opt.icon"
          >
            <div class="flex flex-col justify-center gap-4">
              <p class="text-green-900 font-bold">{{ opt.title }}</p>
              <p class="text-base">{{ opt.description }}</p>
            </div>
          </app-split-card>
        }
      </div>
    </div>

    <div class="certification w-full">
      <app-base-card [backgroundImage]="certifCardData.backgroundImage"
                [borderColor]="'border-amber-400'"
                [borderSize]="'border-2'"
      >
        <div class="flex flex-col items-center gap-4">
          <p class="text-green-900 font-bold text-center text-2xl
          [@media(max-width:783px)]:text-xl"
          >{{ certifCardData.title }}</p>
          <p class="text-amber-800 text-center text-base
          [@media(max-width:783px)]:text-sm"
          >  {{ certifCardData.body }}
          </p>
          <p class="font-bold text-amber-800 text-center text-sm
          [@media(max-width:783px)]:text-xs"
          >{{ certifCardData.footer }}</p>
        </div>
      </app-base-card>
    </div>

  </div>

</section>
