<section class="flex flex-col justify-between h-[85vh] px-[3%] py-[3%]"
#homeHeader>
  <div class="message-container min-h-1/3 flex items-center">
    <p class="text-5xl"
      [hidden]="!animateFlag()" [class.enter-animation]="animateFlag()">
      {{ messages()[messageIndex()] }}
    </p>
  </div>

  <div class="flex flex-col justify-between gap-4">
    @for(b of benefits(); track b) {
      <p class="flex gap-3 items-center">
        <i class="pi pi-check-circle"></i>
        <label> {{ b }}</label>
      </p>
    }
  </div>

  <div class="flex gap-4">
    <p-button
      [label]="'Commencer mon parcours'"
      [rounded]="false" [raised]="true" [severity]="'warn'"
    />
    <p-button
      [label]="'Explorer nos partenaires'"
      [rounded]="false" [outlined]="true" [severity]="'contrast'"
    />
  </div>

  <div class="flex justify-center animate-bounce">
    <i class="pi pi-chevron-circle-down"
       style="font-size: 2rem"
    ></i>
  </div>
</section>

<section class="flex flex-col justify-between bg-amber-50 h-full px-[15%] py-[2%]">
  <div class="stats-container h-60 w-full p-[3%]">
    <app-card backgroundImage="hp-stats-card-bg.jpg">
    </app-card>
  </div>

  <div class="how-it-works flex flex-col h-full items-center justify-between p-[3%]">
    <div class="text-4xl text-green-900 font-bold pb-8"
    >Comment ça marche ?</div>
    <div class="flex h-90 gap-8 w-full justify-between">
      <app-split-card class="text-black"
        [backgroundImage]="'beach.jpg'" icon="ph ph-heart"
      >
      </app-split-card>
      <app-split-card class="text-black"
                      [backgroundImage]="'beach.jpg'" icon="ph ph-heart"
      ></app-split-card>
      <app-split-card class="text-black"
                      [backgroundImage]="'beach.jpg'" icon="ph ph-heart"
      ></app-split-card>
    </div>
  </div>

  <div class="certification h-60 w-full p-[3%]">
    <app-card backgroundImage="hp-certif-card-bg.jpg">
      <div class="flex flex-col p-8 gap-4 items-center">
        <h1 class="text-xl text-green-900 font-bold">Certification Prêt'Adopte</h1>
        <p class="text-amber-800 text-center">À l'issue de votre parcours, vous obtenez votre certificat
          d'adoptant responsable reconnu par nos refuges et éleveurs partenaires.
          Score minimum requis : 80%.
        </p>
      </div>
    </app-card>
  </div>
</section>
