<header id="home"
  class="home-header relative flex flex-col justify-evenly min-h-dvh
  gap-16 pt-20 pb-16 px-safe-or-8 sm:px-safe-or-12 text-white" #homeHeader
>
  <div class="bg-h-h absolute z-0 inset-0 pointer-events-none">
    <img class="w-full h-full object-cover" [src]="headerBackground">
    <div class="absolute inset-0 bg-black/50"></div>
  </div>
  <div class="auto-change-message-container relative z-10 flex items-center h-24 w-full"
  >
    <p class="font-bold text-2xl md:text-3xl lg:text-4xl xl:text-5xl
    [@media(max-width:440px)]:whitespace-pre-line"
       [hidden]="!animateFlag()" [class.enter-animation]="animateFlag()">
      {{ messages()[messageIndex()] }}
    </p>
  </div>

  <div class="benefits-container relative z-10 flex flex-col justify-between
  w-full gap-4 whitespace-pre-line sm:whitespace-normal
  text-sm sm:text-lg"
  >
    @for(b of benefits; track b) {
      <p class="flex gap-3 items-center">
        <i class="pi pi-check-circle"></i>
        <label> {{ b }}</label>
      </p>
    }
  </div>

  <div class="relative z-10 flex
  items-center w-full gap-8
  [@media(max-width:490px)]:flex-col"
  >
    <p-button
      styleClass ="!text-white !bg-amber-700/70 hover:!bg-amber-700 active:!bg-amber-700
      !border-2 !border-white/50 !transition-colors !duration-500
      !text-xs sm:!text-base
"
      [label]="'Commencer un parcours'"
      [rounded]="false" [raised]="true" [severity]="'warn'"
      [routerLink]="[]" [fragment]="'trainingPaths'"
    />
    <p-button
      styleClass ="!text-white !bg-transparent hover:!bg-gray-500/50 active:!bg-gray-500/50 !border-2
      !transition-colors !duration-500 !text-xs sm:!text-base"
      [label]="'Explorer nos partenaires'"
      [rounded]="false" [outlined]="true" [severity]="'contrast'"
      [routerLink]="[]" [fragment]="'partners'"
    />
  </div>
</header>

<section id="trainingPaths"
  class="flex justify-center bg-amber-50 h-full w-full py-28 gap-12"
>
  <div class="flex flex-col items-center gap-16 max-w-5xl
    [@media(max-width:783px)]:max-w-80 [@media(max-width:1135px)]:max-w-2xl"
  >
    <div
      class="stats-container w-full"
    >
      <app-base-card [backgroundImage]="statsCardBackground"
      >
        <div
          class="flex flex-row justify-between items-center gap-8
          [@media(max-width:783px)]:flex-col"
        >
          @for(s of stats; track s) {
            <div class="flex flex-col items-center
            gap-2"
            >
              <img [src]="s.icon" class="h-12 w-12
              [@media(max-width:783px)]:h-10
              [@media(max-width:783px)]:w-10"
              >
              <p class="font-bold text-3xl
              [@media(max-width:783px)]:text-2xl"
              >{{ s.figure }}</p>
              <p class="text-yellow-50 text-xs
              [@media(min-width:1135px)]:text-base"
              >{{ s.details }}</p>
            </div>
          }
        </div>
      </app-base-card>
    </div>

    <div class="how-it-works flex flex-col h-full w-full items-center gap-8"
    >
      <div
        class="text-green-900 font-bold
        text-4xl [@media(max-width:783px)]:text-2xl [@media(max-width:1135px)]:text-3xl"
      >Comment ça marche ?
      </div>
      <app-training-paths/>
    </div>

    <div class="certification w-full flex flex-col h-full items-center gap-8">
      <div
        class="text-green-900 font-bold
        text-4xl [@media(max-width:783px)]:text-2xl [@media(max-width:1135px)]:text-3xl"
      >Et après ?
      </div>

      <app-base-card [backgroundImage]="certifCardData.backgroundImage"
                [borderColor]="'border-amber-400'"
                [borderSize]="'border-2'"
      >
        <div class="flex flex-col items-center px-4 gap-4">
          <p class="text-green-900 font-bold text-center text-xl lg:text-2xl"
          >{{ certifCardData.title }}</p>
          <p class="text-amber-800 text-center text-xs lg:text-base xl:w-160"
          >  {{ certifCardData.body }}
          </p>
          <p class="font-bold text-amber-800 text-center text-xs lg:text-base"
          >{{ certifCardData.footer }}</p>
        </div>
      </app-base-card>
    </div>

  </div>

</section>

<section id="partners"
         class="relative flex min-h-screen w-full">
  <div class="bg-prtn absolute z-0 h-full w-full pointer-events-none">
    <img [src]="partnersBackground"
         class="h-full w-full object-cover"
    >
    <div class="absolute inset-0 bg-black/50 backdrop-blur-xs"></div>
  </div>

  <div class="relative z-10 py-32 gap-16 px-safe-or-8 sm:px-safe-or-12 flex flex-col w-full items-center justify-between">
    <p class="text-amber-600 font-bold w-full text-left text-lg
    md:text-xl lg:text-2xl">
      NOS PARTENAIRES
    </p>

    <div class="w-full">
      <p class="font-bold w-65 md:w-full text-left text-2xl md:text-3xl lg:text-4xl">
        Explorer notre réseau de partenaires
      </p>
    </div>


    <div class="flex flex-col gap-4 w-full text-sm sm:text-lg">
      <p class="flex gap-3 items-center">
        <i class="pi pi-check-circle"></i>
        <label> Eleveurs certifiés et responsables</label>
      </p>
      <p class="flex gap-3 items-center">
        <i class="pi pi-check-circle"></i>
        <label> Refuges approuvés par notre équipe</label>
      </p>
      <p class="flex gap-3 items-center">
        <i class="pi pi-check-circle"></i>
        <label> Processus d'adoption sûr et transparent</label>
      </p>
    </div>

    <div class="cards-container flex flex-col justify-center w-full items-center gap-8
    sm:flex-row"
    >
      <app-base-card
        class="h-50 w-full"
        [backgroundBlur]="true"
        [borderSize]="'border-2'" [borderColor]="'border-white/30'"
      >
      </app-base-card>

      <app-base-card class="h-50 w-full"
                     backgroundColor="bg-black/50"
                     [backgroundBlur]="true"
      ></app-base-card>
    </div>

    <div class="w-full">
      <p-button styleClass="!text-xs sm:!text-base"
                [label]="'Rejoindre notre réseau'"
                [variant]="'outlined'" [severity]="'contrast'"
                [routerLink]="['/join-us']"
      />
    </div>


  </div>
</section>

<section id="goals"
         class="flex justify-center items-center bg-amber-50 h-full w-full py-16 px-8 sm:px-12 gap-12"
>
  <div class="h-full w-full max-w-200 flex flex-col gap-16 justify-between">
    <app-base-card [backgroundImage]="goalCardBackground"
                   [backgroundImageHaze]="true" class="w-full"
    >
      <div class="absolute inset-0 z-0 bg-black/30 backdrop-blur-xs pointer-events-none"></div>

      <div class="relative h-full flex flex-col gap-8 px-4 py-8 items-center z-10">
        <div class="icon-container rounded-4xl bg-amber-500 flex justify-center items-center w-15 h-15"
        ><i class="pi pi-heart" style="font-size: 2rem"></i>
        </div>

        <div class="flex flex-col items-center gap-8 sm:gap-12 w-full">
          <p class="font-bold text-left text-2xl md:text-3xl lg:text-4xl">
            Objectifs</p>

          <div class="flex flex-col items-center gap-4
          text-xs md:text-base lg:text-lg">
            <p class="flex w-full gap-3 items-center">
              <i class="pi pi-check-circle"></i>
              <label> Réduire les abandons</label>
            </p>
            <p class="flex w-full gap-3 items-center">
              <i class="pi pi-check-circle"></i>
              <label> Responsabiliser les adoptants</label>
            </p>
            <p class="flex w-full gap-3 items-center">
              <i class="pi pi-check-circle"></i>
              <label> Garantir des adoptions durables</label>
            </p>
          </div>

          <p class="italic text-center text-sm md:text-base lg:text-lg md:w-full">
            "On ne choisit plus un animal au hasard, on adopte en connaissance"
          </p>
        </div>
      </div>

    </app-base-card>

    <div class="flex flex-col items-center gap-8 w-full p-2 text-black">
      <p class="text-center text-xl sm:text-2xl lg:text-3xl font-bold w-full
      [@media(max-width:360px)]:w-40"
      >Prêt à changer une vie ?</p>
      <p class="w-full text-center text-sm sm:text-base lg:text-xl"
      >Commencez votre parcours d'adoption responsable dès aujourd'hui</p>

      <div>
        @if ( isAuthenticated() ) {
          <p-button [label]="'Aller au dashboard'" [severity]="'contrast'" [variant]="'outlined'"
                    styleClass ="!text-xs sm:!text-base !text-white !bg-amber-500 hover:!bg-amber-600
                  active:!bg-amber-300 !border-2 !border-black/50 hover:!border-black active:!border-black
                  !transition-colors !duration-500 !px-6 !py-3 !rounded-4xl"
                    [routerLink]="['/dashboard']"
          />
        } @else {
        <p-button [label]="'Se connecter'" [severity]="'contrast'" [variant]="'outlined'"
                  styleClass ="!text-xs sm:!text-base !text-white !bg-amber-500 hover:!bg-amber-600
                  active:!bg-amber-300 !border-2 !border-black/50 hover:!border-black active:!border-black
                  !transition-colors !duration-500 !px-6 !py-3 !rounded-4xl"
                  [routerLink]="['/auth']"
        />
      }
      </div>
    </div>
  </div>

</section>

<footer
  class="flex flex-col items-center bg-amber-50/90 gap-8 justify-between
  min-h-50 h-full w-full p-12">
  <div id="contact"
    class="flex justify-center gap-16 text-black pb-4 px-8 border-b border-black/20">
    <i class="pi pi-facebook" style="font-size: 2rem"></i>
    <i class="pi pi-instagram" style="font-size: 2rem"></i>
    <i class="pi pi-comments" style="font-size: 2rem"></i>
  </div>

  <div class="flex flex-col items-center text-xs sm:text-sm text-black/70 gap-4 w-full md:flex-row justify-center">
    <p class="text-center">Confidentialité</p>
    <p class="text-center">Conditions générales</p>
    <p class="text-center">© 2026 Prêt'Adopte, Inc.</p>
  </div>
</footer>
