<div class="flex flex-col gap-4 px-6 md:px-24 h-full text-white [&>div]:bg-gray-900">

  <div id="formation" class="">
    <div class="flex items-center gap-2 px-4 py-3 border-b border-white/10">
      <i class="pi pi-book"></i>
      <span class="font-semibold">Formation [{{ learnings().length }}]</span>
    </div>
    <div class="bg-gray-800 text-sm md:text-base px-2">
      @if (learnings().length === 0) {
        <p class="text-center py-4">Aucune formation en cours</p>
      } @else {
        <p-carousel [value]="learnings()" [numVisible]="1" [numScroll]="1">
          <ng-template #item let-learn>
            <div class="flex flex-col gap-2 p-4 border rounded-xl">
              <p class="font-bold">{{ learn.species }} {{ learn.breed ? '— ' + learn.breed : '' }}</p>
              <p>Progression : {{ learn.progression }}%</p>
            </div>
          </ng-template>
        </p-carousel>
      }
    </div>
  </div>

  <div id="quick-quiz" class="">
    <div class="flex items-center gap-2 px-4 py-3 border-b border-white/10">
      <i class="pi pi-bolt"></i>
      <span class="font-semibold">Quiz rapide [{{ quickQuizzes().length }}]</span>
    </div>
    <div class="bg-gray-800 text-sm md:text-base px-2">
      @if (quickQuizzes().length === 0) {
        <p class="text-center py-4">Aucun quiz rapide en cours</p>
      } @else {
        <p-carousel [value]="quickQuizzes()" [numVisible]="1" [numScroll]="1"
                    [responsiveOptions]="carouselResponsiveOptions"
        >
          <ng-template #item let-quiz>
            <div class="flex flex-col gap-2 border rounded-xl hover:cursor-pointer
               hover:bg-gray-900 transition-all duration-500 m-4 p-4 max-w-full"
                 (click)="openQuickQuiz(quiz.species, quiz.breed)"
            >
              <div class="max-w-40 sm:max-w-full">
                <p class="font-bold truncate">{{ quiz.species }} {{ quiz.breed ? '— ' + quiz.breed : '' }}</p>
              </div>
              <p class="text-sm">Score : {{ quiz.score }}%</p>
              <p class="text-sm self-end flex items-center gap-2">
                <i class="pi pi-spinner-dotted"></i>
                <span>{{ !quiz.isDone ? 'En cours' : '' }}</span>
              </p>
            </div>
          </ng-template>
        </p-carousel>
      }
    </div>
  </div>

  <div id="choice-assist" class="">
    <div class="flex items-center gap-2 px-4 py-3 border-b border-white/10">
      <i class="pi pi-question-circle"></i>
      <span class="font-semibold">Aide au choix</span>
    </div>
    <div class="bg-gray-800 text-sm md:text-base px-2">
      @if (choiceAssists().length === 0) {
        <p class="text-center py-4">Aucune aide au choix en cours</p>
      } @else {
        <p-carousel [value]="choiceAssists()" [numVisible]="1" [numScroll]="1">
          <ng-template #item let-assist>
            <div class="flex flex-col gap-2 p-4 border rounded-xl">
              <p class="font-bold truncate">{{ assist.species }} {{ assist.breed ? '— ' + assist.breed : '' }}</p>
            </div>
          </ng-template>
        </p-carousel>
      }
    </div>
  </div>

</div>
