/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
@import "primeicons/primeicons.css";
@import "tailwindcss";
@import "tailwindcss-safe-area";

html {
  scroll-behavior: auto;
  font-family: "Sen", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {

}

user-training-paths {
  --p-accordion-header-background : #1e2939;
  --p-accordion-header-hover-background: #233245;
  --p-accordion-header-active-background: #233245;
  --p-accordion-header-active-hover-background: #233245;
  --p-accordion-content-background: #1c222e;
  --p-accordion-panel-border-width: 0;
}


